---
import TeamBoundaries from "../teamBoundaries.astro";
---

<h2
  class="font-bold text-text-heading text-2xl md:text-3xl pt-4 pb-2 w-fit overflow-hidden"
  id="boundaries"
>
  Team Boundaries
</h2>
<p class="mb-8">
  The three teams and their missions and responsibilities inside the Tractor
  Store.
</p>

<div class="teams mb-12">
  <div class="team explore">
    <h3 class="font-bold text-text-heading text-xl mb-4">Team Explore</h3>
    <p>
      <strong>Mission</strong><br />
      Help users explore the tractor portfolio and stores locations.<br /><br />

      <strong>Responsibility</strong><br />
      home, product lists, stores, recommendations
    </p>
  </div>
  <div class="team decide">
    <h3 class="font-bold text-text-heading text-xl mb-4">Team Decide</h3>
    <p>
      <strong>Mission</strong><br />
      Help users decide what model tractor they should choose.
      <br /><br />

      <strong>Responsibility</strong><br />
      product page
    </p>
  </div>
  <div class="team checkout">
    <h3 class="font-bold text-text-heading text-xl mb-4">Team Checkout</h3>
    <p>
      <strong>Mission</strong><br />
      Guide users through the checkout process.
      <br /><br />

      <strong>Responsibility</strong><br />
      cart, checkout, thanks
    </p>
  </div>
</div>

<style>
  .teams {
    @media (max-width: 499px) {
      grid-template-columns: 1fr;
    }

    @media (min-width: 500px) and (max-width: 999px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1000px) {
      grid-template-columns: repeat(3, 1fr);
    }

    display: grid;
    gap: 1rem;
  }

  .team {
    position: relative;
    padding-left: 1.3rem;
    padding-right: 10%;
  }

  .team::before {
    display: block;
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 3px;
  }

  .team.explore::before {
    background-color: rgba(255, 90, 84, 1);
  }

  .team.decide::before {
    background-color: rgba(84, 255, 144, 1);
  }

  .team.checkout::before {
    background-color: rgba(255, 222, 84, 1);
  }
</style>
