---
import TeamBoundaries from "../teamBoundaries.astro";
---

<h2>Big picture / Team responsabilities</h2>
<div class="md:flex items-center mt-8">
  <div class="basis-3/4">
    <TeamBoundaries />
  </div>
  <div class="basis-1/4 md:pl-4 pt-4">
    <p>
      E-Commerce project with boundaries for three teams and use-cases for
      routing, integration and communication.
    </p>
  </div>
</div>
