---
---

<section class="contribute" id="contribute">
  <div class="image">
    <img src="images/contribute.svg" typeof="foaf:Image" />
  </div>
  <div class="text pt-12">
    <h3 class="font-bold text-text-heading text-2xl md:text-3xl pb-2">
      How to Contribute
    </h3>
    <ol class="list-decimal">
      <li>
        <h6 class="font-bold">Create a new repository</h6>
        Fork the Tractor Store repository (e.g. <a
          href="https://github.com/neuland/tractor-store" target="_blank"
        >Blueprint-</a> or
        <a href="https://github.com/neuland/tractor-store-preact" target="_blank">Preact-implementation</a>) and create a new repository with the name of the framework or
        technique you want to implement. This will be the place where you will
        implement your version of the Tractor Store.
      </li>
      <li>
        <h6 class="font-bold">Chose framework, technique and implement</h6>
        Choose a framework or technique you want to implement the Tractor Store with.
      </li>
      <li>
        <h6 class="font-bold">Submit your implementation</h6>
        Submit a pull request to the Tractor Store repository with your implementation.
      </li>
    </ol>
  </div>
</section>

<style>
  .contribute {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
  }

  .image {
    @media (max-width: 499px) {
      grid-column: 1 / -1;
    }
    @media (min-width: 500px) and (max-width: 999px) {
      grid-column: 3 / -3;
    }
    @media (min-width: 1000px) {
      grid-column: 1 / span 7;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    @media (max-width: 499px) {
      grid-column: 1 / -1;
    }
    @media (min-width: 500px) and (max-width: 999px) {
      grid-column: 2 / -2;
    }
    @media (min-width: 1000px) {
      grid-column: 8 / span 5;
    }
  }
</style>
