---

---

<section class="contribute" id="contribute">
  <div class="image">
    <img src="images/contribute.svg" typeof="foaf:Image" />
  </div>
  <div class="text pt-12">
    <h3 class="font-bold text-text-heading text-2xl md:text-3xl pb-2">
      How to Contribute
    </h3>
    <ol class="list-decimal">
      <li>
        <h6 class="font-bold">Create a new repository</h6>
        Pick an existing Tractor Store repository (e.g.
        <a href="https://github.com/neuland/tractor-store" target="_blank"
          >blueprint</a
        >
        or
        <a
          href="https://github.com/neuland/tractor-store-preact"
          target="_blank">preact</a
        >) and create your own repository based on it.
      </li>
      <li>
        <h6 class="font-bold">Choose framework, technique and implement</h6>
        Use your desired frameworks and techniques to implement the Tractor Store.
        Make sure you catch all the features described above.
      </li>
      <li>
        <h6 class="font-bold">Describe your implementation</h6>
        Explain your implementation in the <a
          href="https://github.com/neuland/tractor-store-preact/blob/main/README.md"
          target="_blank">README.md</a
        > file. Fill out the specs table. Describe what may be different or special
        about your take on the Tractor Store.
      </li>
      <li>
        <h6 class="font-bold">Submit your implementation</h6>
        Write us <a
          href="mailto:microfrontends@neuland-bfi.de?subject=New%20Tractor%20Store%20Implementation"
          >an email</a
        > with a link to your repository and we'll add it to the list. Bonus points
        if you can provide a live demo.
      </li>
    </ol>
  </div>
</section>

<style>
  .contribute {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
  }

  .image {
    @media (max-width: 499px) {
      grid-column: 1 / -1;
    }
    @media (min-width: 500px) and (max-width: 999px) {
      grid-column: 3 / -3;
    }
    @media (min-width: 1000px) {
      grid-column: 1 / span 7;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    @media (max-width: 499px) {
      grid-column: 1 / -1;
    }
    @media (min-width: 500px) and (max-width: 999px) {
      grid-column: 2 / -2;
    }
    @media (min-width: 1000px) {
      grid-column: 8 / span 5;
    }
  }
</style>
