---
---

<section class="md:flex">
    <img src="images/contribute.svg" typeof="foaf:Image" class="m-auto md:basis-3/5" />
    <div class="md:basis-2/5 md:pt-12">
        <h3 class="font-bold text-text-heading text-2xl md:text-3xl pb-2">
            How to Contribute
        </h3>
        <ol class="list-decimal">
            <li>
                <h6 class="font-bold">Create a new repository</h6>
                A micro frontends architecture can be built in many ways. Custom crafted and tailored to your organization's specific needs or by following the rules of a specific micro frontends meta-framework. The final result is also affected by the technologies you choose and whether you want to render your application on the server and/or client.
            </li>
            <li>
                <h6 class="font-bold">Chose framework, technique and implement</h6>
                Making good choices is not always easy. Being able to look at real-world code and examples helps everyone involved to get a good understanding of your decisions and their implications.</li>
            <li>
                <h6 class="font-bold">Submit your implementation</h6>
                The Tractor Store aims to be to micro frontends what TodoMVC was to the advent of JavaScript Frameworks in the late 2000s: An awesome collection of different implementations for the same application. A valuable learning resource for people new to this topic and also a good basis for advanced discussions.
            </li>
        </ol>
    </div>
</section>