---
---

<footer class="text-sm leading-[1.75] mt-4">
  <div class="md:flex">
    <div class="basis-1/2">
      <img src="" alt="neuland BfI Logo" typeof="foaf:Image" />
      <p>Ein Projekt der neuland - Büro für Informatik GmbH</p>
      <p>2024 neuland - Büro für Informatik GmbH</p>
      <a
          class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#f57111] to-[#f79605] hover:after:bg-gradient-to-r hover:after:from-[#f57111] hover:after:to-[#f79605]"
          href={"https://https://www.neuland-bfi.de/"}
          target="_blank"
      >
        Impressum</a>
    </div>
    <div class="basis-1/2">
      <strong>Über neuland</strong>
      <p>Wir entwickeln Software für den Handel. Unser Schwerpunkt ist Software für die digitale Dimension. Damit präsentieren unsere Kunden Artikel und verfolgen, wie Produkte entdeckt werden.</p>
      <a
          class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#f57111] to-[#f79605] hover:after:bg-gradient-to-r hover:after:from-[#f57111] hover:after:to-[#f79605]"
          href={"https://https://www.neuland-bfi.de/"}
          target="_blank"
      >
        www.neuland-bfi.de/</a>
      <p>neuland – Büro für Informatik GmbH<br>
        Konsul-Smidt-Str. 8g<br>
        D-28217 Bremen</p>
    </div>
  </div>
</footer>