---
---

<footer class="text-sm h-fit mt-4 pb-4 mb-12 leading-snug">
  <div class="divider"></div>
  <img
    src="images/neulandLogo.png"
    alt="neuland BfI Logo"
    typeof="foaf:Image"
    class="mr-4 size-10 float-left"
  />
  <div class="mt-1 float-left">
    <p>
      the tractore store reference implementations <br />
      a <a
        class="bg-clip-text text-neuland"
        href="https://www.neuland-bfi.de/"
        target="_blank"
      >
        neuland
      </a> initiative
    </p>
    <p class="mt-2">
      Need help with your project? <a
        class="bg-clip-text text-neuland"
        href="mailto:microfrontends@neuland-bfi.de"
      >
        Get in contact.
      </a>
    </p>
  </div>
  <div class="text-right">
    <a
      class="bg-clip-text text-black"
      href="https://www.neuland-bfi.de/impressum"
      target="_blank"
    >
      legal notice
    </a><br />
    <a
      class="bg-clip-text text-black"
      href="https://blueprint.the-tractor.store"
      target="_blank"
    >
      blueprint project
    </a><br />
    <a
      class="bg-clip-text text-black"
      href="https://micro-frontends.org/"
      target="_blank"
    >
      micro-frontends.org
    </a><br />
    <a
      class="bg-clip-text text-black"
      href={"https://www.manning.com/books/micro-frontends-in-action?a_aid=mfia&a_bid=5f09fdeb"}
      target="_blank"
    >
      micro frontends in action book
    </a>
  </div>
</footer>

<style>
  .divider {
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    height: 100px;
    background: linear-gradient(rgba(238, 235, 226, 0), rgba(238, 235, 226, 0.35));
    margin-bottom: 4rem;
    margin-top: 2rem;
  }

  :global(.dark) .divider {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35));
  }
</style>
