---
---

<footer class="text-sm h-fit mt-4 pb-4 leading-snug">
  <img src="images/neulandLogo.png" alt="neuland BfI Logo" typeof="foaf:Image" class="mr-4 size-10 float-left" />
  <p class="mt-1 float-left">the tractore store reference implementations <br/>
    a <a
        class="bg-clip-text text-neuland"
        href={"https://www.neuland-bfi.de/"}
        target="_blank"
    >
      neuland</a> initiative
  </p>
  <div class="text-right">
    <a
        class="bg-clip-text text-black"
        href={"https://github.com/neuland"}
        target="_blank"
    >
      all projects</a><br/>
    <a
        class="bg-clip-text text-black"
        href={"https://blueprint.the-tractor.store"}
        target="_blank"
    >
      blue print project</a><br/>
    <a
        class="bg-clip-text text-black"
        href={"https://www.neuland-bfi.de/impressum"}
        target="_blank"
    >
      legal notice</a><br/>
    <a
        class="bg-clip-text text-black"
        href={"https://micro-frontends.org/"}
        target="_blank"
    >
      micro-frontends.org</a><br/>
    <a
        class="bg-clip-text text-black"
        href={"https://www.manning.com/books/micro-frontends-in-action?a_aid=mfia&a_bid=5f09fdeb"}
        target="_blank"
    >
      micro frontends in action book</a>
  </div>
</footer>