---
import DarkModeToggle from "./DarkModeToggle.astro";
import { Image } from "astro:assets";
import logo from "./../../public/images/logo.svg";
---

<header class="">
  <Image
    src={logo}
    alt="Micro Frontends Tractor Store"
    class="w-64 mt-12 mb-6"
  />
  <div
    class="justify-self-end py-2 flex items-center content-center text-text-bold"
  >
    <a
      class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
      href="https://github.com/neuland/tractor-store-blueprint"
    >
      <i
        class="fa-brands fa-github"
        aria-hidden="true"
        title="The Tractor Store - Blueprint"
      >
      </i>
      <span>GitHub</span>
    </a>
  </div>
  <DarkModeToggle />
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }
</style>
