---
---

<section class="mb-8 c-background">
  <div class="max-w-6xl mx-auto px-6 sm:px-8 md:flex items-center">
    <div class="md:basis-1/2 relative aspect-[1]">
      <img
        src="images/screen1.svg"
        typeof="foaf:Image"
        class="absolute z-0 hover:z-30 size-72"
      />
      <img
        src="images/screen2.svg"
        typeof="foaf:Image"
        class="absolute z-10 hover:z-30 top-32 left-16 size-72"
      />
      <img
        src="images/screen3.svg"
        typeof="foaf:Image"
        class="absolute z-20 top-64 left-32 size-72"
      />
    </div>
    <div class="md:basis-1/2 pl-6">
      <h3
        class="font-bold text-text-heading text-2xl md:text-3xl pt-4 pb-2 w-fit overflow-hidden"
      >
        TodoMVC for Micro Frontends
      </h3>
      <div>
        <p class="mb-5">
          A micro frontends architecture can be built in many ways. Custom
          crafted and tailored to your organization's specific needs or by
          following the rules of a specific micro frontends meta-framework. The
          final result is also affected by the technologies you choose and
          whether you want to render your application on the server and/or
          client. Making good choices is not always easy. Being able to look at
          real-world code and examples helps everyone involved to get a good
          understanding of your decisions and their implications. The Tractor
          Store aims to be to micro frontends what TodoMVC was to the advent of
          JavaScript Frameworks in the late 2000s: An awesome collection of
          different implementations for the same application. A valuable
          learning resource for people new to this topic and also a good basis
          for advanced discussions.
        </p>
      </div>
    </div>
  </div>
</section>

<style></style>
