---
---

<section class="mb-8">
  <div class="mb-6">
    <!--<h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4"
    >
      <span
        class="
            bg-gradient-to-b bg-no-repeat bg-bottom bg-[length:100%_50%]
            from-orange-200 to-orange-500 dark:from-primary-blue dark:to-primary-blue
        "
      >
       The Tractor Store
      </span>
    </h1>-->
    <h1 class="pt-4 w-fit m-auto font-bold text-text-heading text-center text-4xl md:text-5xl" data-annotate="underline">
      The Tractor Store
    </h1>
    <p class="pt-2 text-center">a non-trivial micro frontends example project</p>
  </div>
  <div>
    <p>
      The Tractor Store is a template to experiment with micro frontend architecture. Goal is to create a real world application where developers can experiment with different integration techniques.

      The idea is similar to TodoMVC or Movies, but with a <span data-annotate="highlight">focus on micro frontends.</span>

    </p>
  </div>
  <script type="module">
    import { annotate } from 'https://unpkg.com/rough-notation?module';
    const observer = new IntersectionObserver(handleIntersection, { threshold: [1] });


    Array.from(document.querySelectorAll('[data-annotate]'))
        .forEach ((element) => {
          observer.observe(element);
        });

    function handleIntersection(entries, observer) {
      entries.forEach((entry) => {
        const element = entry.target;
        console.log(entry.isIntersecting);
        if (entry.isIntersecting) {
          showAnnotation(element);
        }
      });
    }

    function showAnnotation(element) {
      const type = element.getAttribute('data-annotate');
      if (!type) {
        return;
      }
      annotate(element, {
        type,
        color: '#ffde54',
        iterations: 2,
        multiline: true,
        animationDuration: 3000,
        animationDelay: 5000,
      }).show();
      element.removeAttribute('data-annotate');
    }

    // TODO: add dark mode colors

  </script>
</section>
