---
---

<section class="mb-8">
  <div class="max-w-6xl mx-auto px-6 sm:px-8 md:flex items-center">
    <div class="md:basis-1/2 pl-6">
      <h3
          class="font-bold text-text-heading text-2xl md:text-3xl pt-4 pb-2 w-fit overflow-hidden"
      >
        Presentation
      </h3>
       <p class="mb-5">
          Learn even more about micro frontends from
           <a
            class="bg-clip-text text-neuland"
            href={"https://speakerdeck.com/naltatis/tractor-store-2-dot-0"}
            target="_blank"
            >
            this presentation</a><br>
          first shown at the Micro Frontends Conference 2024
        </p>
    </div>
    <div class="md:basis-1/2 place-content-center">
      <img
          src="images/presentation.svg"
          typeof="foaf:Image"
          class="lg:size-72 size-52 m-auto"
      />
    </div>
  </div>
</section>

<style></style>
