---
---

<div class="mb-8">
  <h3 class="font-bold text-text-heading text-2xl md:text-3xl pt-4 pb-6 w-fit overflow-hidden">
    Features
  </h3>

  <div class="mt-2 md:flex items-center">
    <div class="basis-2/3">
      <img src="images/walkthrough.webp" alt="project visualisation" width="500"/>
    </div>
    <div class="basis-1/3 md:pl-4">
      <p class="md:text-left md:pr-4">
        <strong class="block">Complete Online Shop</strong>
        Homepage, category, stores,<br/>
        product detail, cart, checkout<br/>
        and thank you page are included.
      </p>
    </div>
  </div>

  <div class="mt-2 md:flex md:flex-row-reverse items-center">
    <div class="basis-2/3">
      <img src="images/header_footer.webp" alt="possible tech stack visualisation" width="500"/>
    </div>
    <div class="basis-1/3">
      <p class="md:text-right md:pr-4">
        <strong class="block">Header &amp; Footer</strong>
        Owned by Team Explore.<br/>
        The same across all pages.<br/>
        Except for the checkout page.
      </p>
    </div>
  </div>

  <div class="mt-2 md:flex items-center">
    <div class="basis-2/3">
      <img src="images/recommendations.webp" alt="recommendations" width="500"/>
    </div>
    <div class="basis-1/3 md:pl-4">
      <p class="md:text-left md:pr-4">
        <strong class="block">Recommendations</strong>
        Color-matched tractor suggestions.<br/>
        Based on product selection<br/>
        and shopping cart contents.
      </p>
    </div>
  </div>

  <div class="mt-2 md:flex md:flex-row-reverse items-center">
    <div class="basis-2/3">
      <img src="images/cart.webp" alt="possible tech stack visualisation" width="500"/>
    </div>
    <div class="basis-1/3">
      <p class="md:text-right md:pr-4">
        <strong class="block">Shopping Cart</strong>
        Add and remove tractors.<br/>
        Minicart updates accordingly.
      </p>
    </div>
  </div>


  <div class="mt-2 md:flex items-center">
    <div class="basis-2/3">
      <img src="images/storepicker.webp" alt="store picker" width="500"/>
    </div>
    <div class="basis-1/3 md:pl-4">
      <p class="md:text-left md:pr-4">
        <strong class="block">Complex Forms</strong>
        Checkout address form<br />
        with embedded store picker<br />
        owned by explore.
      </p>
    </div>
  </div>

</div>
