---
---

<div class="mb-8">
  <h3 class="font-bold text-text-heading text-2xl md:text-3xl pt-4 pb-2 w-fit overflow-hidden" data-annotate="underline">
    Micro Frontend Use-Cases
  </h3>

  <div class="mt-2 md:flex md:flex-row-reverse items-center">
    <div class="basis-2/3">
      <img src="images/techStack.png" alt="possible tech stack visualisation" typeof="foaf:Image" />
    </div>
    <div class="basis-1/3">
      <p class="md:text-right md:pr-4">
        <strong>Mini Cart Micro Frontend</strong>
        Lives in the header and updates when the cart content changes ...
      </p>
    </div>
  </div>
  <div class="mt-2 md:flex items-center">
    <div class="basis-2/3">
      <img src="images/projectBoundaries.png" alt="project visualisation" typeof="foaf:Image" />
    </div>
    <div class="basis-1/3 md:pl-4">
      <p class="md:text-right md:pr-4">
        <strong>Mini Cart Micro Frontend</strong>
        Lives in the header and updates when the cart content changes ...
      </p>
    </div>
  </div>
</div>
